<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Spring Framework</title>
</head>
<body>
<center>
    <h2>Books</h2>
    <table>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Publisher</th>
        </tr>
        <tr th:each="book:${books}">
            <th th:text="${book.id}"></th>
            <td th:text="${book.title}"></td>
            <td th:text="${book.publisher.name}"></td>
        </tr>
    </table>
</center>
</body>
</html>